<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags always come first -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<!-- Bootstrap CSS -->
<%= stylesheet_link_tag "styles" %>
    <title>TBT Ferguson</title>
</head>

<body>

<nav class="navbar navbar-light navbar-expand-sm fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="#">My Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="#">My Orders</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h1 class="title">
    Welcome
  </h1>
</div>

<div class="container">
  <h2 class="title2">
    <span>
      What service do you need?
    </span>
  </h2>
</div>

<div class="container" id="Fix">
  <a href="room.html" class="btn btn-secondary btn-lg btn-block" role="button">Fix a Problem</a>
  <!--<button type="button" class="btn btn-secondary btn-lg btn-block">Fix a Problem</button>-->
</div>

<div class="container" id="Purchase">
  <button type="button" class="btn btn-secondary btn-lg btn-block">Purchase a product</button>
</div>

<div class="container">
<div class="row">
  <div class="col-5" id="Signup">
    <button type="button" class="btn btn-secondary btn-lg">Sign up</button>
  </div>
  <div class="col-5" id="Signin">
    <button type="button" class="btn btn-secondary btn-lg">Sign in</button>
  </div>
</div>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
<!--
<script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
-->
</body>

</html>